@import "./variables"; // 確保可以使用變數

.brand-story {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: clip;
  margin: 0 auto;
  padding: 6rem 0;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .text-block {
    width: 50%;
    height: 100%;
    padding: 5rem 3rem;
    background: $primary;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;

    h2 {
      text-align: center;
      font-weight: bold;
      font-size: $font-size-3xl;
      padding: 1rem;
      color: $secondary;
    }

    p {
      font-size: $font-size-xl;
      color: white;
      line-height: 1.5;
      padding: 0 1rem 1rem 1rem;
      text-align: justify;
    }

    .deco-bread1 {
      position: absolute;
      bottom: 20px;
      right: 10px;
      width: 80px;
    }

    .deco-bread2 {
      position: absolute;
      top: 20px;
      left: 10px;
      width: 80px;
    }
  }

  .image-block {
    opacity: 0;
    max-width: 23%;
    transition: transform 1s ease-out, opacity 1s ease-out; /* 動畫過渡時間 */

    img {
      width: 100%;
      border-radius: 10px;
    }

    &.left {
      position: absolute;
      left: 0;
      transform: translateX(-50%);
    }
  
    &.right {
      position: absolute;
      right: 0;
      transform: translateX(50%);
    }
  
    &.left.active {
      opacity: 1;
      transform: translateX(-20%);
    }

    &.right.active {
      opacity: 1;
      transform: translateX(20%);
    }
  }

  // 小螢幕時隱藏左右圖片
  @media (max-width: 1024px) {
    .image-block {
      display: none;
    }

    .text-block {
      width: 80%;
    }
  }
}

@media (max-width: 768px) {
  .brand-story {
    margin: 0 auto;
    padding: 3rem 0;
    .text-block {
      width: 90%;
      padding: 1.5rem;
      h2 {
        font-size: $font-size-2xl;
      }
      p {
        font-size: $font-size-lg;
      }
      .deco-bread1 {
        width: 40px;
      }
  
      .deco-bread2 {
        width: 40px;
      }
    }
  }
}
