// 背景設定
.index-backg {
  .toast {
    position: fixed;
    top: 10vh;
    right: 5vw; 
    background-color: $secondary;
    color: $primary;
    font-size: $font-size-md;
    font-weight: 600;
    padding: 1rem;
    z-index: 30;
  }
}

// 側欄樣式
.sidebar {
  position: fixed;
  top: 0;
  right: -500px; 
  width: 500px;
  height: 100%;
  background-color: white;
  transition: right 0.3s ease;
  z-index: 100;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.sidebar.active {
  right: 0;
}

// 側欄標題區
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

// 側欄標題
.sidebar-title {
  font-size: $font-size-2xl;
  color: $primary;
  font-weight: bold;
}

// 側欄關閉按鈕
.close-btn {
  background: none;
  border: none;
  font-size: $font-size-2xl;
  color: $primary;
  cursor: pointer;
  &:hover {
    color: #69806C;
  }
}

// 購物車內容區塊
.sidebar-content {
  flex-grow: 1;
  overflow-y: auto;
}

// 主要內容區塊
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

// Footer 設置
.footer {
  position: relative;
  text-align: center;
  bottom: 0;
  width: 100%;
  background-color: $primary;
  color: $placeholder;
  padding: 6rem 2rem;
  font-size: $font-size-xl;
  line-height: 2;
  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.8rem;
      border-radius: 30px;
      border: 1px solid #AAAA;
      &:hover {
        background-color: darken($color: #AAAA, $amount: 70);
      }
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    right: -100%;
  }
}