@import "./variables"; // 確保可以使用變數

.breadcrumb {
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  border-radius: 8px; // 圓角
  font-size: 1rem;
  padding: 8px;

  .breadcrumb-item {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: $content;
    transition: color 0.3s ease-in-out;

    a {
      text-decoration: none;
      font-size: 1.1rem;
      color: $accent1;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $primary-light;
      }
    }

    &.active {
      font-weight: bold;
      color: $content;
      cursor: default;
    }

    // 麵包屑的分隔符號「/」
    &::after {
      content: "/";
      margin: 0 8px;
      color: $content;
    }

    &:last-child::after {
      content: ""; // 最後一個不要顯示 "/"
    }
  }
}
