@import "./variables"; // 確保可以使用變數

.news-list {
  margin: auto;
  width: 100%;
  max-width: 1296px;

  .news-title {
    font-weight: bold;
    font-size: $font-size-4xl;
    margin-bottom: 2rem;
  }

  /* 主要的新聞區塊 */
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); // 自動調整列數
    gap: 1rem;
    margin-bottom: 2rem;
  }

  /* 卡片樣式 */
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    background: white;
    border-radius: 10px;

    &:hover {
      transform: scale(1.03);
    }

    .card-route {
      text-decoration: none;
      width: 100%;

      .card-img {
        background-color: #e9ecef;
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 10px 10px 0 0 ;
      }

      /* 卡片內容區塊 */
      .card-body {
        padding: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      /* 標題 */
      .card-title {
        font-size: $font-size-xl;
        text-align: center;
        color: $content;
        padding: 0.5rem 0;
      }

      /* 日期文字 */
      .text-muted {
        font-size: $font-size-md;
        color: $content;
        text-align: center;
        padding: 0.5rem 0;
      }
    }
  }
}

.more-area {
  text-align: right;
  .more-btn {
    display: inline-block;
    gap: 0.5rem;
    text-decoration: none;
    font-size: $font-size-xl;
    color: $primary;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 5px;
    &:hover {
      background-color: $secondary;
    }
  } 
}

@media (max-width: 1025px) {
  .news-list {
    .content {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1.5rem;
    }
  }
}

@media (max-width: 768px) {
  .news-list {
    .news-title {
      font-size: $font-size-3xl;
      margin-bottom: 1rem;
    }
    .news-board {
      display: none;
    }
    .content {
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
    }
  }
}

@media (max-width: 500px) {
  .news-list {
    .content {
      grid-template-columns: 1fr;
    }
  }
}