@import "./variables"; // 確保可以使用變數

.news-list {
  padding: 4rem 0;
  margin: auto;
  .news-title {
    text-align: center;
    padding: 2rem;
    font-weight: bold;
    font-size: 3rem;
  }

  /* 主要的新聞區塊 */
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr)); /* 確保項目均勻排列 */
    gap: 1rem; /* 設定間隔 */
    padding: 2rem;
  }

  .cards {
    display: flex;
    align-items: center;
    flex-direction: column;
     /* 卡片樣式 */
  .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 450px;
    border: 1px solid #ddd; /* 輕微的邊框 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 輕微陰影 */
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.03);
    }
    /* 卡片圖片樣式 */
  .card-img-top {
    background-color: #e9ecef; /* 使用淺灰色作為占位顏色 */
    height: 300px; /* 固定高度 */
    object-fit: cover; /* 保持圖片比例 */
    width: 100%;
  }

  /* 卡片內容區塊 */
  .card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* 標題 */
  .card-title {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: $content;
    padding: 0.5rem 0;
  }

  /* 日期文字 */
  .text-muted {
    font-size: 1rem;
    color: $content;
    text-align: center;
    padding: 0.5rem 0;
  }
}
}

  .more-btn {
    text-align: center;
    padding: 2rem 0;

    .btn {
      display: inline-block;
      padding: 1rem 2rem;
      font-size: 1.2rem;
      font-weight: bold;
      color: white;
      background-color: $primary;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;
      
      &:hover {
        background-color:$accent1;
      }
    }
  }
  
}
