@import "./variables"; // 確保可以使用變數

.news-pg {
  padding: 0 2rem;
  width: 100%;
  .news-title {
    text-align: center;
    font-weight: bold;
    font-size: $font-size-3xl;
    margin: 2rem 0;
  }

  @media (max-width: 1025px) {
    & {
      padding: 0 1rem;
    }
  }
}
