@import './variables';


.check-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 3rem 0;
  padding: 0 1rem;
  width: 100%;
    /* 步驟進度條 */
.order-progress {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  
  .progress-label {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.5rem;
    text-align: center;
    width: auto;
    height: auto;
    font-size: 1rem;
    color: white;
    border-radius: 10px;
    background-color: gray;
    
    &.active {
      background-color: $success; /* 假設這是你預設的成功顏色 */
    }
  }
}

/* 步驟內容區域 */
.order-confirm{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin-top: 2rem;

  h2 {
    font-size: $font-size-2xl;
    margin-bottom: 2rem;
    color: $content; /* 可定義的主題顏色 */
  }
  .order-info {
    display: flex;
    width: 100%;
    gap : 1rem;

    .cart-info {
      background-color: white;
      padding: 3rem 2rem;
      width: 50%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      h3 {
        text-align: center;
        font-size: $font-size-2xl;
        font-weight: 600;
        padding-bottom: 1rem;
      }

      ul.order-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
        margin-bottom: 2rem;
        border-bottom:1px solid black ;
      }
    
      .order-item {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      padding-bottom: 1rem;
      .basic-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100px;
        font-size: $font-size-sm;
        .item-img{
          height: 100%;
          width: 100%;
          padding: 0.5rem;
        }
      }
      .item-info{
        width: auto;
        font-size: $font-size-md;
        text-align: right;
      }
      }
      .order-total {
        text-align: right;
        font-weight: 600;
        font-size: $font-size-2xl;
        padding-bottom: 1.2rem;
      }
    }
  }
  .recipient-info {
    padding: 3rem 2rem;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    h3 {
      text-align: center;
      font-size: $font-size-2xl;
      font-weight: 600;
      padding-bottom: 1rem;
    }
    .order-form {
      .form-row {
        display: flex;
        flex-direction: column;
      }
      label {
        font-size: $font-size-md;
        padding: 0.8rem 0;
      }
      span {
        color: red;
      }
      input {
        border: unset;
        border: 1px solid $primary;
        width: auto;
        padding: 0.5rem;
        font-size: $font-size-md;
        border-radius: 5px;
        font-family: $font-family-base;
      }
      textarea {
        border: unset;
        border: 1px solid $primary;
        width: auto;
        padding: 0.5rem;
        font-size: $font-size-md;
        border-radius: 5px;
        font-family: $font-family-base;
      }
    } 
    
  }
}

.order-create {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  margin-top: 2rem;

  .order-create-info {
    display: flex;
    width: 100%;
    gap : 1rem;
    .cart-info-check {
      background-color: white;
      padding: 3rem 2rem;
      width: 50%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      h3 {
        text-align: center;
        font-size: $font-size-2xl;
        font-weight: 600;
        padding-bottom: 1rem;
      }
  
      ul.order-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
        margin-bottom: 2rem;
        border-bottom:1px solid black ;
      }
    
      .order-item {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      padding-bottom: 1rem;
      .basic-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100px;
        font-size: $font-size-sm;
        .item-img{
          height: 100%;
          width: 100%;
          padding: 0.5rem;
        }
      }
      .item-info{
        width: auto;
        text-align: right;
      }
      }
      .order-total {
        text-align: right;
        font-weight: bold;
        font-size: $font-size-xl;
        padding-bottom: 1.2rem;
      }
    }
    .recipient-info-check {
      width: 50%;
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 3rem 2rem;
      background-color: white;
      h3 {
        text-align: center;
        font-size: $font-size-2xl;
        font-weight: bold;
        padding-bottom: 1rem;
      }
      .form-row {
          display: flex;
          flex-direction: column;
          font-size: 1rem;
          label {
            padding: 0.5rem 0;
            span {
              color: red;
            }
          } 
      }
    }
  }

  h2 {
    font-size: $font-size-2xl;
    margin-bottom: 2rem;
    color: $content; /* 可定義的主題顏色 */
  }
  
}

.order-complete {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  max-width: 1280px;
  width: 100%;
  margin-top: 2rem;

  .complete-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    padding: 7rem 2rem;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    p {
      font-size: $font-size-xl;
      line-height: 2;
    }
    h2 {
      font-size: $font-size-3xl;
      font-weight: 600;
      margin-bottom: 1.2rem;
      color: $content; /* 可定義的主題顏色 */
    }
  }
}

.warning-text {
  color: $accent2;
  font-size: $font-size-md;
  text-align: center;
  padding: 1rem;
}

.fa-solid {
  display: inline-block;
}
}

@media (max-width: 768px) {
  .check-order {
    .order-confirm {
      width: 100%;
      .order-info {
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        .cart-info {
          width: 100%;
          padding: 1.2rem;
          .order-item {
            .basic-info {
              max-width: 80px;
            }
            .item-info {
              font-size: $font-size-xs;
            }
          }
          .order-total {
            font-size: $font-size-lg;
          }
        }
        .recipient-info {
          padding: 1.2rem;
          width: 100%;
        }
      }
    }

    .order-create {
      .order-create-info {
        flex-direction: column;
        align-items: center;
        width: 100%;
        .cart-info-check {
          width: 100%;
          padding: 1.2rem;
        }
        .recipient-info-check {
          width: 100%;
          padding: 1.2rem;
        }
      }  
    }
  }
}