@import "./variables"; // 確保可以使用變數
@import "leaflet/dist/leaflet.css";

.store-loc {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  align-items: center;

  .loc-title {
    text-align: center;
    padding: 2rem;
    font-weight: bold;
    font-size: 3rem;
  }

  .loc-info {
    display: flex;
    flex-wrap: wrap; // 確保小螢幕時不會超出
    justify-content: center;
    gap: 2rem;

    .map {
      min-height: 500px; // **確保地圖有固定高度**
      min-width: 500px; // **避免在小螢幕下縮到無法顯示**
    }

    .loc-des {
      background-color: $primary;
      padding: 3rem;
      font-size: 1.6rem;
      text-align: center;
      line-height: 2;
      h3 {
        color:$secondary;
      }
      p {
        color:white;
      }
    }
  }
}
