// 網站色彩計畫
$primary: #262626;
$secondary: #E1B96A;
$accent1: #69806C;
$accent2: #E6353F;
$primary-light:#ECFBFF;
$secondary-light: #F0EBE7;
$success: #7BCA60;
$danger: #F94B4B;
$title: #525252;
$content: #3F3F46;
$placeholder: #AAAAAA;
$disable: #E3E3E3;
$white: #FFFFFF;


// 待刪備份
$primary-text: #212121;
$secondary-text:#666666;
$divider-color:#BDBDBD;
$primary-color: #FAF8EC;
$dark-primary-color:#181819;
$light-primary-color:#BDD0D4;
$accent-color:#e63535;
$light-accent-color:#e8d64d;
$dark-accent-color:#b50a0a;

// 字體設定
$font-family-base: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
$font-size-base: 16px;
$font-weight-normal: 400;
$font-weight-bold: 900;
$line-height-base: 1.5;
