@font-face {
    font-family: 'jf-open';
    src: url('/public/fonts/jf-openhuninn-2.1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// 網站色彩計畫
$primary: #262626;
$secondary: #E1B96A;
$accent1: #455246;
$accent2: #E6353F;
$primary-light:#E1F0E3;
$secondary-light: #F0EBE7;
$success: #489363;
$danger: #F94B4B;
$title: #525252;
$content: #3F3F46;
$placeholder: #AAAAAA;
$disable: #E3E3E3;
$white: #FFFFFF;

// 字體設定
$font-family-base: "jf-open"; //粉圓體
$font-size-base: 16px;
$line-height-base: 1.5;
$shadow-color: rgb(33 , 45, 53);

// 字級設計
$font-size-xs: 0.75rem;  // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-md: 1rem;     // 16px（= base）
$font-size-lg: 1.125rem; // 18px
$font-size-xl: 1.25rem;  // 20px
$font-size-2xl: 1.5rem;  // 24px
$font-size-3xl: 2rem;    // 32px
$font-size-4xl: 2.5rem;  // 40px
